.video-box {
    background: #000080;
}

.video-box iframe {
    width: 100%;
}

.video-container {
    margin: 0 auto;
    padding: 6% 6.5%;
    display: flex;
}

.video-box button {
    border: 1px solid #D48E00;
    margin: auto 0 auto 8%;
    padding: 10px 60px;
    width: 50%;
    color: #ffff;
    background: transparent;
    font-family: 'Raleway';
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}
.iframe-video {
    height: 400px;
    /* width: 500px; */
    border: none;
    border-radius: 10px;
}

@media  screen and (max-width: 1200px) {
    .video-box button {
        font-size: 16px;
        padding: 10px 4px;
    }
    
}

/* ==================== Tab View ===================== */
@media screen and (max-width: 880px) {
    .video-container {
        flex-direction: column;
    }

    .video-box button {
        margin: 50px auto 0 auto;
    }
}


@media screen and (max-width: 700px) {
    .video-box iframe {
        width: 100%;
        height: 250px;
    }

    .video-box button {
        padding: 10px;
        margin-top: 30px;
        width: 75%;
    }
}

@media screen and (max-width: 390px) {
    .video-box button {
        width: 80%;
        padding: 8px;
    }
}