.video-box {
    background: #000080;
}

.video-box iframe {
    width: 65%;
}

.video-container {
    margin: 0 auto;
    padding: 6% 6.5%;
    display: flex;
    justify-content: space-between;
}

.learn-btn {
    border: 1px solid #f7a02c;;
    margin: 50% 0 auto 10%;
    padding: 10px 45px;
    width: 100%;
    color: #ffff;
    background: transparent;
    font-family: 'Raleway';
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: .5s ease;
}
.learn-btn:hover {
    background: #f7a02c;
}

.iframe-video {
    height: 400px;
    /* width: 500px; */
    border: none;
    border-radius: 10px;
}

@media  screen and (max-width: 1200px) {
    .learn-btn {
        font-size: 16px;
        /* padding: 10px 4px; */
    }
    
}

@media screen and (max-width: 1030px) {
    .learn-btn {
        padding: 10px 30px;
        font-size: 15px;
    }
}

/* ==================== Tab View ===================== */
@media screen and (max-width: 880px) {
    .video-container {
        flex-direction: column;
    }

    .learn-btn {
        margin: 50px auto 0 auto;
    }

    .video-box iframe {
        width: 100%;
    }

    .learn-btn {
        width: 70%;
        margin-left: 15%;
    }
}


@media screen and (max-width: 700px) {
    .video-box iframe {
        width: 100%;
        height: 250px;
    }

    .video-box button {
        padding: 10px;
        margin-top: 30px;
        width: 70%;
    }
}

@media screen and (max-width: 390px) {
    .video-box button {
        width: 80%;
        padding: 8px;
    }
}