.footer {
    display: flex;
    padding: 15px 60px 0 80px;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

.mnla-logo-div {
    /* border: 1px solid red; */
    width: 30%;
    padding: 20px;
}

.mnla-logo-div img {
    width: 240px;
}

.intuivite-paragraph {
    margin: 20px 0 60px 0;
    letter-spacing: 2px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    color: #ffff;
    word-break: break-word;
}

.mnla-technologies {
    color: #ffff;
}

.social-media-div {
    width: fit-content;
    margin-left: 4rem;
}

.icons-div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.imgs {
    display: flex;
    justify-content: center;
    background: orange;
    width: 40px;
    margin-left: 20px;
    height: 40px;
    border-radius: 50%;
}

.icons-img {
    width: 60%;
}

.tranlation-text {
    color: #ffff;
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    width: 120px;
    margin: 20px auto;
}

.dark-text {
    color: black;
}



@media screen and (max-width: 800px) {
    .icons-img {
        width: 50%;
    }

    .mnla-logo-div {
        width: 41%;
    }

    .intuivite-paragraph {
        margin: 15px 0 30px 0;
        font-size: 12px;
    }

    .mnla-logo-div img {
        width: 200px;
    }

    .social-media-div {
        margin-left: 0;
    }

    .mnla-technologies {
        font-size: 15px;
    }

    .footer {
        padding-left: 30px;
        padding-right: -5px;
    }

}

@media screen and (max-width: 590px) {
    .imgs {
        width: 35px;
        height: 35px;
    }

    .mnla-logo-div {
        width: 200px;
    }
}

@media screen and (max-width: 524px) {
    .footer-wrapper {
        flex-direction: column;
    }
    .mnla-logo-div {
        width: 100%;
    }
    .social-media-div {
        margin: 0 auto;
    }
    .icons-div {
        margin-top: 0;
    }
}