.footer {
    display: flex;
    padding: 15px 60px 0 80px;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    width: 75%;
    padding-left: 10%;
    /* justify-content: space-between; */
}

.mnla-logo-div {
    /* border: 1px solid red; */
    width: 100%;
    padding: 20px;
}

.mnla-logo-div img {
    width: 240px;
}

.intuivite-paragraph {
    margin: 20px 0 60px 0;
    letter-spacing: 2px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    color: #ffff;
    word-break: break-word;
}

.mnla-technologies {
    color: #ffff;
}

.social-media-div {
    width: fit-content;
    margin-left: 4rem;
}

.icons-div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.imgs {
    display: flex;
    justify-content: center;
    background: orange;
    width: 40px;
    margin-left: 20px;
    height: 40px;
    border-radius: 50%;
}

.icons-img {
    width: 60%;
}

.tranlation-text {
    color: #ffff;
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    width: 120px;
    margin: 20px auto;
}

.dark-text {
    color: black;
}



/* =====================foter for mobile */

@media screen and (max-width: 660px) {
    .footer-wrapper {
        width: 100%;
        padding-left: 0;
    }

    .social-media-div {
        margin-left: 2rem;
    }

    .mnla-logo-div {
        padding: 18px 0 10px 0;
    }

    .footer {
        padding: 0 110px 0 112px;
    }

    .imgs {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 524px) {
    .footer-wrapper {
        flex-direction: column;
    }
    .mnla-logo-div {
        width: 100%;
        padding: 0;
    }
    .social-media-div {
        margin: 0 auto;
        width: 60%;
        /* padding-right: 10px; */
    }
    .icons-div {
        margin-top: 0;
    }
    .mobile-footer {
        display: none;
    }

    .footer {
        padding: 15px 0;
    }

    .mnla-logo-div img {
        width: 200px;
    }

    .intuivite-paragraph {
        line-height: 20px;
        margin-bottom: 25px;
    }

    .footer {
        padding: 15px 30px;
    }

    .mnla-technologies {
        margin-bottom: 15px;
    }

    .imgs {
        margin-left: 0;
    }
  
}

@media screen and (max-width: 400PX) {
    .footer {
        padding: 10px 20px;
    }

}