.login {
    text-align: center;
    padding: 7px 30px;
    color: #ffff;
    background: transparent;
    border: none;
    margin: auto 0;
    cursor: pointer;
}

.dark-text {
    color: black;
    margin-right: 5px;
}

.login-instruction {
    text-align: center;
    padding: 6px 20px !important;
    color: #ffff;
    background: var(--login-btn);
    border: none;
    border-radius: 8px;
    margin: auto 0;
    cursor: pointer;
}


/* ======================= Tab view ==================== */
@media screen and (max-width: 550px) {
    .login {
        padding: 5px;
    }
}