.home-body {
    display: flex;
    padding: 30px 100px;
    background: #EDF1FF;
    /* justify-content: space-between; */
}

.img-div {
    width: 30%;
    margin-left: 7%;
}

.img-div img {
    width: 110%;
    /* margin-top: 20px; */
}

/* ================= instruction popup ==================== */
.instruction-popup {
    padding: 15px;
    background: #001f3d;
    color: #ffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    max-width: 600px;
    width: 350px;

    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ===============fade out instructions popup====================== */
.fade-out {
    animation: fadeOut 2s;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* ================================= */

.instruction-popup span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.instruction-head-text {
    font-weight: 700;
    font-size: 16px;
    margin-right: 13px;
}

.cancel-btn {
    cursor: pointer;
}

.instruction-text {
    line-height: 25px;
}

.instruction-login-div {
    margin-top: 8px;
    /* width: 57%; */
    display: flex;
    margin-left: 53%;
    justify-content: space-between;
}

body.active-modal {
    overflow-y: hidden;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 20;
    background: rgba(49,49,49,0.8);
}




/* ======================= desktop view =================== */

@media screen and (max-width: 1190px) {
    .img-div img {
        width: 135%;
        margin-top: 50px;
    }
}

/* @media screen and (max-width: 1030px) {
    .img-div img {
        width: 150%;
        margin-top: 50px;
    }
} */

@media screen and (max-width: 880px) {
    .home-body {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    .img-div img {
        width: 300px;
        margin-bottom: 30px;
        /* transform: translateX(50%); */
    }

    .img-div {
        margin-left: 0;
    }
}

/* @media screen and (max-width: 1172px) {
    .img-div img {
        width: 130%;
        margin-top: 30px;
    }
} */


@media screen and (max-width: 630px) {
    .img-div img {
        margin: 0 0 20px -3rem;
    }
}

/* @media screen and (max-width: 545px) {
    .img-div img {
        margin-left: 0 0 20px 8rem !important;
    }
} */

@media screen and (max-width: 545px) {
    .img-div img {
        margin-left: 8rem;
    }
}

@media screen and (max-width: 470px) {
    .img-div img {
        width: 230px;
        margin-left: 6rem;
    }
}

@media screen and (max-width: 360px) {
    .img-div img {
        margin-left: 6rem;
    }
}

