.crypto {
    border: 1px solid #d48e00;
    width: 50%;
    height: fit-content;
    background: #FFFFFF;
    /* border-radius: 12px 12px 0px 0px; */
}

.mnla-token {
    background: #d48e00;
    opacity: 0.7;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border-radius: 12px 12px 0px 0px; */
}

.hr-box-crypto {
    margin: 20px auto 10px auto !important;
}

.hr-crypto {
    background: white !important;
}

.mnla-token-sale {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}

.mnla-available {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.token-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background: #FFFFFF;
}

.token-price-box p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.block-chain {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.block-chain p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.crypto-text {
    color: #d48e00;
    margin: auto 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.followers {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    line-height: 42px;
}

.ethereum-img {
    width: 20px;
    margin-top: 2px;
}

.ethereum-box {
    display: flex;
}

.ethereum-box span {
    margin: auto 0;
}

.instructions {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 10px 40px;
    margin-bottom: 8px;
    background: #FFFFFF;
}

.instructions-btn {
    padding: 10px 14%;
    font-family: 'Raleway';
    border-radius: 6px;
    border: 1px solid #003DDB;
    background: #FFFFFF;
    width: 49%;
}

.join-campaign {
    background: #003DDB;
    color: #FFFFFF;
}

@media screen and (max-width: 932px) {
    .mnla-token-sale {
        font-size: 25px;
    }
}


@media screen and (max-width: 880px) {
    .instructions-btn {
        padding: 10px 8%;
        font-size: 13px;
        width: 48%;
    }

    .crypto {
        width: 70%;
    }
}

@media screen and (max-width: 630px) {
    .mnla-token-sale {
        font-size: 24px;
        line-height: 40px;
    }
    .mnla-available {
        font-size: 20px;
        line-height: 20px;
    }
    .token-price-box p {
        font-size: 16px;
        line-height: 23px;
    }
    .block-chain p {
        /* margin-top: -10px; */
        font-size: 16px;
        line-height: 25px;
    }
    .followers {
        margin-top: -20px;
        font-size: 18px;
    }
    .token-price {
        padding-bottom: 0;
    }
    .instructions-btn {
        padding: 5px;
    }
}

@media screen and (max-width: 420px) {
    .instructions {
        padding: 10px;
    }
    .crypto {
        width: 85%;
    }
}