.home-header {
    background-color: var(--background-blue);
    padding-top: 1px;
    height: 100vh;
}

.manilla-text {
    font: Raleway;
    font-weight: 700;
    text-align: center;
    line-height: 42px;
    font-size: 24px;
    color: #ffff;
    width: 55%;
    margin: 150px auto 70px auto;
}

.manilla-text span {
    color: #F0AF03;
}

.hr-box {
    display: flex;
    width: 8rem;
    margin: 60px auto;
    justify-content: space-between;
}

.short-hr {
    width: 10px;
    height: 7px;
    background-color: #F0AF03;
    border: none;
}

.long-hr {
    width: 80px;
    background-color: #F0AF03;
    border: none;
}


/* ==================== Tab View ====================== */

@media screen and (max-width: 880px) {
    .manilla-text {
        font-size: 20px;
        margin: 90px auto 30px auto;
    }

    .home-header {
        height: fit-content;
    }
}


@media screen and (max-width: 681px) {
    .manilla-text {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .manilla-text {
        font-size: 16px;
        width: 85%;
    }   
}