.login-view {
    background: url("../../assets/images/bg1.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #ffff;
    height: 100%;
}

@media screen and (max-width: 880px) {
    .login-view {
        height: 100%;
    }
}

@media screen and (max-width: 524px) { 
    .login-view {
        height: 100%;
    }
}