.profile-box-container {
    display: flex;
    justify-content: space-between;
}

.profile {
    width: 49%;
}
.profile-div {
    margin: 0 0 5px 25px;
    width: fit-content;
}
.name-div-wrapper {
    background: #ffff;
    height: 385px;
    padding: 10px 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.name-div p {
    font-family: 'Raleway';
    margin-top: 4px;
    font-size: 14px;
}
.full-name.country-text {
    font-size: 14px !important;
    font-weight: 0 !important;
}

.change-name {
    padding: 2px 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #775DA6;
    border-radius: 6px;
    border: 1px solid #775DA6;
    background: #ffff;
}

.user-name input {
    border: none;
    margin: 0 0 4px 4px;
    width: 100%;
    font-size: 13px;
}

.user-name input:focus {
    outline: #775DA6;
    /* border: 1px solid #775DA6; */
}

.secure-account {
    border: none;
    background: #DCDCDC;
    border-radius: 5px;
    padding: 2px;
}

.secure-account span {
    display: flex;
}

.secure-account-text {
    margin-left: 6px;
}

.enable-authenctication-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 0;
    width: 70%;
    font-size: 10px !important;
    line-height: 14px !important;
    color: #898989 !important;
}

.enable-authentication-div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
}

.enable-button {
    padding: 5px 8px;
    margin-left: 8px;
    background: #0061FE;
    border-radius: 8px;
    color: white;
    border: none;
}


/* from dashboard body sytle (connect-text and follow-us-text)  */
.connect-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-left: 0;
}
.follow-us-text {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 12px;
    line-height: 23px;
    color: #898989;
}

/* |||||||||||||||| */

.overview {
    width: 49%;
}
.overview-div {
    margin: 0 0 5px 10px;
    width: fit-content;
}

.eligibility-container {
    width: 95%;
    padding: 10px;
    margin: 15px auto;
    background: #eef6f8;
    border-radius: 8px;
}

.eligibility-status-box {
    display: flex;
    justify-content: space-between;
}
.eligibility-status-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}

.num-of-task-div {
    display: flex;
    justify-content: space-between;
}
.number-of-tasks {
    font-family: 'Raleway';
    font-size: 11px;
}

.eligibility-status {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #C23F3F;
}


/* come back here with paul to center button  */
.verify-eligibility-div {
    width: fit-content;
    margin: 0 auto;
}

.verify-eligibility-btn {
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    color: #ffff;
    background: #0061fe;
    border: none;
    font-family: "Raleway";
}

.tasks {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}

.facebook-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.facebook-button {
    padding: 4px 15px;
    background: #0061FE;
    border-radius: 8px;
    color: #ffff;
    border: none;
    margin-top: 5px;
}

.facebook-text {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 24px;
}

.instagram-button {
    padding: 4px 15px;
    background: #ffff;
    border-radius: 8px;
    color: black;
    border: 1px solid #775DA6;
    margin-top: 5px;
}


@media screen and (max-width: 840px) {
    .follow-us-text {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 532px) {
    .profile-box-container {
        flex-direction: column-reverse;
    }

    .overview {
        width: 70%;
        margin: 0 auto;
    }

    .profile {
        width: 70%;
        margin: 0 auto;
    }

    .overview-div {
        margin: 0 auto
    }

    .profile-div {
        margin: 5px auto;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        width: 95%;
    }

    .overview {
        width: 95%;
    }
}

